.header-section {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  //min-height: var(--header-height);
  //z-index: 1;
  //background-color: #fff;
  border-bottom: 1px solid #ececec;
}
.flex-header {
  display: flex;
  align-items: center;
}
.flex-site-nav {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav .link,
.header-contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .list-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts .header-list-item + .header-list-item {
  margin-left: 30px;
}

//SITE NAV

.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}
.site-nav .link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}
