.paculiarities {
  &-section {
    padding-bottom: 0;
  }
  &-list {
    display: flex;
    justify-content: center;
  }
  &-item {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &::before {
      content: '';
      display: block;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &-title {
    margin-bottom: 10px;
  }
  &-text {
    line-height: 1.7;
  }
}
.pacu-icon {
  &-1::before {
    background-image: url('../images/pacu-icon-1.svg');
  }
  &-2::before {
    background-image: url('../images/pacu-icon-2.svg');
  }
  &-3::before {
    background-image: url('../images/pacu-icon-3.svg');
  }
  &-4::before {
    background-image: url('../images/pacu-icon-4.svg');
  }
}
