.section {
  padding: 0;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  text-align: center;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
