body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
* {
  transition-property: background-color, transform, box-shadow, color, opacity, visibility, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes slideup {
  0% {
    transform: translateY(137%);
  }
  100% {
    transform: translateY(0);
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  cursor: pointer;
}
.upper-text {
  text-align: start;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-icon {
  transition-duration: 0ms;
  width: 20px;
  height: 20px;
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

//LOGO

.logo {
  color: var(--logo-main-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header-logo {
  margin-right: 93px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
}
.logo-accent {
  color: var(--accent-color);
}

//LIST

.list {
  list-style: none;
}
.list-title {
  margin: 0 auto;

  color: var(--secondary-text-color);
}
//LINK

.link {
  text-decoration: none;
}

//BUTTONS

.btn-primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
}
.btn-secondary {
  border: 1px solid transparent;

  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
}
